.grid-container {
  display: grid;
  grid-template-columns:
    [full-start] minmax(25rem, 1fr) [center-start] repeat(
      8,
      minmax(min-content, 12rem)
    )
    [center-end] minmax(25rem, 1fr) [full-end];

  grid-row-gap: 1rem;
  grid-template-rows: 6rem 12rem 12rem 18rem 5rem auto 10rem;
}
