.grid-container {
  display: grid;
  grid-template-columns:
    [full-start] minmax(min-content, 1fr) [center-start] repeat(
      8,
      minmax(min-content, 12rem)
    )
    [center-end] minmax(min-content, 1fr) [full-end];

  grid-row-gap: 1rem;
  grid-template-rows: 10rem 12rem 18rem 5rem auto;

  @include respond(bp-large) {
    display: flex;
    justify-content: center;
  }

  @include respond(bp-largest) {
    grid-template-rows: 10rem 8rem 15rem 5rem auto;
  }
}
