// COLOR VARIABLES
$color-white: #fff;

$color-matte-black: #333;
$color-black: #000;

$color-matte-gray: #666;
$color-light-gray: #ccc;

$color-red: #c00;
$color-green: #3ea447;
$color-blue: #1190af;
$color-tufts-blue: #08c;
$color-dark-blue: #074399;
$color-brown: #777552;
$color-mustard-yellow: #fad165;
$color-dark-mustard-yellow: #c89f33;
$color-orange: #f60;
$color-pink: #b74f7d;

$color-box-shadow: #999;

// FONT VARIABLES
$font-primary: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
