.menu__all-dropdown {
  height: 0;
  transition: height, 0.5s linear;
  position: relative;
  overflow: hidden;
  z-index: 20;
  box-shadow: inset 1px -6px 9px -6px $color-box-shadow;
  background-color: $color-white;
}

.menu__all-pushdown {
  max-width: 960px;
  border: 1px solid $color-light-gray;
  border-bottom: 2px solid $color-red;
  font-family: $font-primary;
  font-size: 16px;
  padding: 20px;

  .menu__all-pushdown--left {
    position: relative;
    height: 352px;
    margin: 0 -4px 0 0;
    padding: 0;
    width: 80%;
    display: inline-block;
    vertical-align: top;

    @include respond(bp-largest) {
      width: 100%;
      margin-left: 7rem;
    }
  }

  .menu__all-pushdown--right {
    margin: 0 -4px 0 0;
    padding: 0;
    width: 20%;
    display: inline-block;
    vertical-align: top;

    @include respond(bp-largest) {
      margin-left: 7rem;
      display: flex;
    }
  }
}

.menu__all-pushdown--right > li:nth-child(2) {
  @include respond(bp-largest) {
    margin-left: 10rem;
  }
}

.menu__all-pushdown--right > li:nth-child(3) {
  @include respond(bp-largest) {
    margin-left: 9rem;
  }
}

.menu__li-dropdown {
  font-family: $font-primary;
  margin: 12px 0;
  color: $color-matte-gray;

  .menu__links-dropdown {
    font-size: 15px;
    color: inherit;

    &:hover {
      border-bottom: 1px solid $color-matte-gray;
    }

    @include respond(bp-largest) {
      font-size: 14px;
    }
  }
}

.menu__titles-dropdown {
  text-transform: uppercase;
  display: inline-block;
  color: inherit;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;

  &:hover {
    color: $color-black;
  }

  @include respond(bp-largest) {
    font-size: 15px;
  }
}

.show2 {
  height: 400px;
  -webkit-transition: height, 0.5s linear;
  -moz-transition: height, 0.5s linear;
  -ms-transition: height, 0.5s linear;
  -o-transition: height, 0.5s linear;
  transition: height, 0.5s linear;

  @include respond(bp-largest) {
    height: 550px;
  }
}
