.menu__info-items--all-business {
  height: 0;
  transition: height, 0.5s linear;
  position: relative;
  overflow: hidden;
  z-index: 20;
  box-shadow: inset 1px -6px 9px -6px #999;
  background-color: #fff;
}

.menu__info-items--pushdown {
  max-width: 960px;
  border: 1px solid #bcbcbc;
  border-bottom: 2px solid #c00;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 16px;
  padding: 20px;

  .menu-left {
    position: relative;
    height: 352px;
    margin: 0 -4px 0 0;
    padding: 0;
    width: 80%;
    display: inline-block;
    vertical-align: top;
  }

  .menu-right {
    margin: 0 -4px 0 0;
    padding: 0;
    width: 20%;
    display: inline-block;
    vertical-align: top;
  }
}

.menu__info-items--pushdown > ul > li {
  padding-bottom: 20px;
  padding-right: 10px;
  color: #333;
}

.menu__info-items--pushdown > ul > li > ul > li {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  margin: 12px 0;
  color: #666;
}

.menu__info-items--pushdown > ul > li > a,
.menu__info-items--pushdown > ul > li > span {
  text-transform: uppercase;
  display: inline-block;
  color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;

  &:hover {
    color: #000;
  }
}

.menu__info-items--pushdown > ul > li > ul > li > a {
  font-size: 15px;
  color: inherit;

  &:hover {
    border-bottom: 1px solid #666;
  }
}

.show2 {
  height: 400px;
  -webkit-transition: height, 0.5s linear;
  -moz-transition: height, 0.5s linear;
  -ms-transition: height, 0.5s linear;
  -o-transition: height, 0.5s linear;
  transition: height, 0.5s linear;
}
