.footer {
  grid-column: full-start/full-end;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  background-color: $color-matte-black;

  @include small-desktop {
    flex-direction: column;
    margin-top: 2rem;
  }

  .footer__title {
    text-transform: uppercase;
    color: $color-light-gray;
    margin-right: 3rem;
    font-size: 15px;

    @include small-desktop {
      margin-right: 0;
      margin-bottom: 1.2rem;
    }
  }

  .footer__container {
    .footer__links {
      padding: 3px;
      font-size: 13px;
      color: $color-light-gray;

      &:hover {
        color: $color-black;
      }

      &:after {
        content: "|";
        position: relative;
        color: $color-light-gray;
      }
    }

    .footer__top {
      margin-bottom: 5px;
    }
  }
}
