.footer {
  grid-column: full-start/full-end;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  background-color: $color-matte-black;

  @include ipad-pro-12 {
    height: 10.6rem;
  }

  @include smaller-devices {
    margin-top: 0;
  }

  @include small-desktop {
    flex-direction: column;
    margin-top: 2rem;
  }

  @include medium-desktop {
    margin-top: 2rem;
  }

  .footer__title {
    text-transform: uppercase;
    color: $color-light-gray;
    margin-right: 3rem;
    font-size: 15px;

    @include small-desktop {
      margin-right: 0;
      margin-bottom: 1.2rem;
    }
  }

  .footer__container {
    @include smaller-devices {
      padding: 0 2rem;
    }

    .footer__top {
      margin-bottom: 5px;

      @include smaller-devices {
        margin: 0 auto;
      }
    }

    .footer__bottom {
      @include smaller-devices {
        display: none;
      }
    }

    .footer__links {
      padding: 3px;
      font-size: 13px;
      color: $color-light-gray;

      &:hover {
        color: $color-black;
      }

      &:after {
        content: "|";
        position: relative;
        color: $color-light-gray;
      }

      @include smaller-devices {
        margin: 1px;
        padding: 0;
      }
    }
  }
}
