footer {
  grid-column: full-start/full-end;
  height: 10rem;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    text-transform: uppercase;
    color: #ccc;
    margin-right: 3rem;
    font-size: 15px;
  }

  div {
    a {
      font-size: 13px;
      color: #ccc;
    }
  }

  .footer__top {
    margin-bottom: 5px;
  }
}
