.header {
  grid-column: center-start/center-end;
  height: 15vh;
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .header__date {
    color: #666;
    font-size: 1.5rem;
  }

  .header__title {
    color: black;
    font-size: 7rem;
    text-transform: uppercase;
  }

  .header__weather {
    color: #666;
    font-size: 1.5rem;
  }
}
