.header {
  grid-column: center-start/center-end;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1.5rem 0;

  @include small-desktop {
    display: none;
  }

  .header__date {
    color: $color-matte-gray;
    font-size: 1.5rem;
  }

  .header__title {
    color: $color-black;
    height: 60px;
    font-size: 6rem;
    text-transform: uppercase;
    align-self: end;

    @include ipad {
      font-size: 4.8rem;
      margin-right: 2.4rem;
      align-self: baseline;
    }

    @include medium-desktop {
      font-size: 4.5rem;
      align-self: auto;
    }
  }

  .header__weather {
    color: $color-matte-gray;
    font-size: 1.5rem;
  }
}
