.header {
  grid-column: center-start/center-end;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1.5rem 0;

  .header__date {
    color: #666;
    font-size: 1.5rem;
  }

  .header__title {
    color: #000;
    height: 60px;
    font-size: 6rem;
    text-transform: uppercase;
    align-self: end;
  }

  .header__weather {
    color: #666;
    font-size: 1.5rem;
  }
}
