.menu {
  grid-column: center-start/center-end;

  .menu__info-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .menu__info {
    display: flex;
    font-size: 1.5rem;
    color: #4b4d54;
    text-transform: uppercase;
    position: relative;
    top: 1px;

    .menu__items {
      padding: 10px;
      margin: 0 1rem;
      cursor: pointer;
    }
  }

  .menu__info-svg {
    display: block;
    margin-left: 2px;
    margin-top: 1px;
    height: 15px;
    width: 15px;
    transform: rotate(0);
    transition: transform 0.25s ease-in-out;
  }

  .menu__info-svg--open {
    transform: rotate(180deg);
  }

  // ALL DROPDDOWN
  .menu__info-items--all-business {
    height: 0;
    transition: height, 0.5s linear;
    position: relative;
    overflow: hidden;
    z-index: 20;
    box-shadow: inset 1px -6px 9px -6px #999;
    background-color: #fff;
  }

  .menu__info-items--pushdown {
    max-width: 960px;
    border: 1px solid #bcbcbc;
    border-bottom: 2px solid #c00;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 16px;
    padding: 20px;

    .menu-left {
      position: relative;
      height: 352px;
      margin: 0 -4px 0 0;
      padding: 0;
      width: 80%;
      display: inline-block;
      vertical-align: top;
    }

    .menu-right {
      margin: 0 -4px 0 0;
      padding: 0;
      width: 20%;
      display: inline-block;
      vertical-align: top;
    }
  }

  .menu__info-items--pushdown > ul > li {
    padding-bottom: 20px;
    padding-right: 10px;
    color: #333;
  }

  .menu__info-items--pushdown > ul > li > ul > li {
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    margin: 12px 0;
    color: #666;
  }

  .menu__info-items--pushdown > ul > li > a,
  .menu__info-items--pushdown > ul > li > span {
    text-transform: uppercase;
    display: inline-block;
    color: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;

    &:hover {
      color: #000;
    }
  }

  .menu__info-items--pushdown > ul > li > ul > li > a {
    font-size: 15px;
    color: inherit;

    &:hover {
      border-bottom: 1px solid #666;
    }
  }

  .show2 {
    height: 400px;
    -webkit-transition: height, 0.5s linear;
    -moz-transition: height, 0.5s linear;
    -ms-transition: height, 0.5s linear;
    -o-transition: height, 0.5s linear;
    transition: height, 0.5s linear;
  }
  // ALL DROPDDOWN ENDS

  .menu__items:nth-child(1) {
    border-top: 2.5px solid red;
  }

  .menu__items:nth-child(2) {
    border-top: 2.5px solid green;
  }

  .menu__items:nth-child(3) {
    border-top: 2.5px solid blue;
  }

  .menu__items:nth-child(4) {
    border-top: 2.5px solid brown;
  }

  .menu__items:nth-child(5) {
    border-top: 2.5px solid orange;
  }

  .menu__items:nth-child(6) {
    border-top: 2.5px solid purple;
  }

  .menu__items:nth-child(7) {
    border-top: 2.5px solid darkblue;
  }

  .menu__info--more {
    display: flex;
    color: #4b4d54;
    font-size: 1.5rem;
    text-transform: uppercase;

    .menu__items--small {
      margin: 0 8px;
    }
  }

  .menu__info-items--news,
  .menu__info-items--sport,
  .menu__info-items--business,
  .menu__info-items--opinion,
  .menu__info-items--lifeAndStyle,
  .menu__info-items--culture,
  .menu__info-items--more {
    ul {
      display: flex;
      font-size: 1.5rem;
      justify-content: space-between;
      background-color: #f6f6f6;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      color: #4b4d54;
      border-top: 1px solid #ccc;

      li {
        cursor: pointer;
        padding: 1rem;
      }
    }
  }

  .menu__info-items--news {
    ul {
      border-bottom: 2px solid red;

      li:hover {
        color: red;
      }
    }
  }

  .menu__info-items--sport {
    ul {
      border-bottom: 2px solid green;

      li:hover {
        color: green;
      }
    }
  }

  .menu__info-items--business {
    ul {
      border-bottom: 2px solid blue;

      li:hover {
        color: blue;
      }
    }
  }

  .menu__info-items--opinion {
    ul {
      border-bottom: 2px solid brown;
      li:hover {
        color: brown;
      }
    }
  }

  .menu__info-items--lifeAndStyle {
    ul {
      border-bottom: 2px solid orange;

      li:hover {
        color: orange;
      }
    }
  }

  .menu__info-items--culture {
    ul {
      border-bottom: 2px solid purple;
      li:hover {
        color: purple;
      }
    }
  }

  .menu__info-items--more {
    ul {
      border-bottom: 2px solid darkblue;
      li:hover {
        color: darkblue;
      }
    }
  }

  .active-item {
    position: relative;
    z-index: 1;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #f6f6f6;
  }
}

#menu__info-all {
  display: flex;

  &:hover {
    p {
      color: #c00;
    }

    .menu__info-svg {
      fill: #c00;
    }
  }
}

.active {
  color: #c00;
}

.active2 {
  fill: #c00;
}
