.menu {
  grid-column: center-start/center-end;

  .menu__info-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .menu__info {
      display: flex;
      font-size: 1.5rem;
      color: #4b4d54;
      text-transform: uppercase;
      position: relative;
      top: 1px;

      .menu__items {
        padding: 10px;
        margin: 0 1rem;
        cursor: pointer;
      }

      .menu__items:nth-child(1) {
        border-top: 2.5px solid red;
      }

      .menu__items:nth-child(2) {
        border-top: 2.5px solid green;
      }

      .menu__items:nth-child(3) {
        border-top: 2.5px solid blue;
      }

      .menu__items:nth-child(4) {
        border-top: 2.5px solid brown;
      }

      .menu__items:nth-child(5) {
        border-top: 2.5px solid orange;
      }

      .menu__items:nth-child(6) {
        border-top: 2.5px solid purple;
      }

      .menu__items:nth-child(7) {
        border-top: 2.5px solid darkblue;
      }
    }

    .menu__info-more {
      display: flex;
      color: #4b4d54;
      font-size: 1.5rem;
      text-transform: uppercase;
      cursor: pointer;

      .menu__items-small {
        margin: 0 8px;
      }
    }
  }

  .menu__info-items--news,
  .menu__info-items--sport,
  .menu__info-items--business,
  .menu__info-items--opinion,
  .menu__info-items--lifeAndStyle,
  .menu__info-items--culture,
  .menu__info-items--more {
    ul {
      display: flex;
      font-size: 1.5rem;
      justify-content: space-between;
      background-color: #f6f6f6;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      color: #4b4d54;
      border-top: 1px solid #ccc;

      li {
        cursor: pointer;
        padding: 1rem;
      }
    }
  }

  .menu__info-items--news {
    ul {
      border-bottom: 2px solid red;

      #menu__info-all {
        display: flex;

        &:hover {
          p {
            color: #c00;
          }

          .menu__info-svg {
            fill: #c00;
          }
        }

        .menu__info-svg {
          display: block;
          margin-left: 2px;
          margin-top: 1px;
          height: 15px;
          width: 15px;
          transform: rotate(0);
          transition: transform 0.25s ease-in-out;
        }

        .menu__info-svg--open {
          transform: rotate(180deg);
        }
      }
    }
  }

  .menu__info-items--sport {
    ul {
      border-bottom: 2px solid green;

      li:hover {
        color: green;
      }
    }
  }

  .menu__info-items--business {
    ul {
      border-bottom: 2px solid blue;

      li:hover {
        color: blue;
      }
    }
  }

  .menu__info-items--opinion {
    ul {
      border-bottom: 2px solid brown;
      li:hover {
        color: brown;
      }
    }
  }

  .menu__info-items--lifeAndStyle {
    ul {
      border-bottom: 2px solid orange;

      li:hover {
        color: orange;
      }
    }
  }

  .menu__info-items--culture {
    ul {
      border-bottom: 2px solid purple;
      li:hover {
        color: purple;
      }
    }
  }

  .menu__info-items--more {
    ul {
      border-bottom: 2px solid darkblue;
      li:hover {
        color: darkblue;
      }
    }
  }

  .active-item {
    position: relative;
    z-index: 1;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #f6f6f6;
  }
}

.active {
  p {
    color: #c00;
  }

  .menu__info-svg {
    fill: #c00;
  }
}
