.navbar {
  grid-column: full-start/full-end;
  // height: 6vh;
  display: grid;
  grid-template-columns:
    minmax(25rem, 1fr) repeat(8, minmax(min-content, 12rem))
    minmax(25rem, 1fr);
  background-color: #333;
}

.navbar__left {
  grid-column-start: 2;
  grid-column-end: 6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar__right {
  grid-column-start: 6;
  grid-column-end: 10;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar__links {
  display: flex;
  justify-content: inherit;
  height: 100%;
  width: 100%;
  align-items: center;
  cursor: pointer;

  .navbar__active-item {
    padding: 0 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: black;
    background-color: #fad165;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .navbar__item {
    padding: 0 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
  }
}
