.navbar {
  grid-column: full-start/full-end;
  height: 4rem;
  display: grid;
  grid-template-columns:
    minmax(min-content, 1fr) repeat(8, minmax(min-content, 12rem))
    minmax(min-content, 1fr);
  background-color: #333;
}

.navbar--left {
  grid-column-start: 2;
  grid-column-end: 7;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar--right {
  grid-column-start: 7;
  grid-column-end: 10;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar__links {
  display: flex;
  justify-content: inherit;
  position: relative;
  height: 100%;
  width: 100%;
  align-items: center;
  cursor: pointer;

  .navbar__active-item {
    padding: 0 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: black;
    background-color: #fad165;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .navbar__item {
    display: flex;
    padding: 0 1.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    height: 100%;
    border-left: 1px solid #000;
    align-items: inherit;

    &:last-child {
      border-right: 1px solid #000;
    }

    .navbar__svg {
      height: 15px;
      width: 15px;
      fill: #fff;
    }

    p {
      padding-left: 5px;
    }
  }
}
