.navbar {
  grid-column: full-start/full-end;
  height: 4rem;
  display: grid;
  grid-template-columns:
    minmax(min-content, 1fr) repeat(8, minmax(min-content, 12rem))
    minmax(min-content, 1fr);
  background-color: $color-matte-black;

  @include small-desktop {
    display: none;
  }

  @include medium-desktop {
    display: flex;
    padding: 0;
    justify-content: center;
  }
}

.navbar--left {
  grid-column-start: 2;
  grid-column-end: 7;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar--right {
  grid-column-start: 7;
  grid-column-end: 10;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include medium-desktop {
    margin-left: 7.5rem;
  }
}

.navbar__links {
  display: flex;
  justify-content: inherit;
  position: relative;
  height: 100%;
  width: 100%;
  align-items: center;
  cursor: pointer;

  .navbar__active-item {
    padding: 0 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: black;
    background-color: $color-mustard-yellow;
    height: 100%;
    display: flex;
    align-items: center;

    @include medium-desktop {
      padding: 0 1.3rem;
      font-size: 1.3rem;
    }
  }

  .navbar__item {
    display: flex;
    padding: 0 1.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    height: 100%;
    border-left: 1px solid $color-black;
    align-items: inherit;

    @include medium-desktop {
      padding: 0 1.3rem;
      font-size: 1.3rem;
    }

    &:last-child {
      border-right: 1px solid $color-black;
    }

    .navbar__svg {
      height: 15px;
      width: 15px;
      fill: $color-white;
    }

    p {
      padding-left: 5px;
    }
  }
}
