// CONTAINER FOR SMALL DEVICES ONLY
.news__container-sd {
  display: none;

  @include ipad {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/6;
    margin-right: 2.5rem;
  }

  @include smaller-devices {
    margin-bottom: 1rem;
  }

  @include small-desktop {
    display: flex;
    justify-content: center;
    grid-column: 1/7;
  }
}

.news__container-sd:nth-child(3) {
  @include ipad {
    display: grid;
    grid-row: 2/3;
    grid-column: 1/6;
  }
}

// ONE BOX FEATURES
.news__feature-box {
  display: none;

  @include ipad {
    display: flex;
    grid-column: 6/10;
    grid-row: 1/2;
  }

  @include smaller-devices {
    max-width: 270px !important;
    margin: 2rem 0 !important;
  }

  @include small-desktop {
    grid-column: 2/6;
    max-width: 290px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .news__feature-box-txt {
    height: 140px;
    border-right: 2px solid $color-red;
    border-top: 1px solid $color-light-gray;
    border-bottom: 1px solid $color-light-gray;

    .news__feature-txt {
      display: flex;
      flex-direction: column;
      text-align: inherit;
      padding-left: 5px;

      .news__feature-h2 {
        font-size: 18px;
        line-height: 1.2em;
        padding: 8px 8px 0;
        color: $color-red;
      }

      .news__feature-p {
        padding: 0 8px;
        margin-bottom: 10px;
        margin-top: 5px;
        font-size: 16px;
        line-height: 18px;
        display: block;
        color: $color-matte-black;
      }
    }
  }
}

// 4 NEWS TRENDING
.trending {
  display: none;
  max-width: 440px;
  margin: 0 auto;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #ccc;

  @include ipad {
    display: flex;
    grid-row: 4/5;
    grid-column: 6/10;
    margin-bottom: 14rem;
    padding: 0;
    border: none;
  }

  @include smaller-devices {
    max-width: 270px;
  }

  @include small-desktop {
    grid-column: 1/7;
    display: flex;
    justify-content: center;
  }

  &:nth-child(1) {
    @include ipad {
      margin-bottom: -6rem;
    }
  }

  &:nth-child(2) {
    @include ipad {
      margin-bottom: -26rem;
    }
  }

  &:nth-child(3) {
    @include ipad {
      margin-bottom: -46rem;
    }
  }

  &:hover {
    color: $color-dark-blue;
  }

  .trending__img {
    border-radius: 2px;
  }

  .trending__h4 {
    width: 320px;
    padding: 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
    cursor: pointer;

    @include ipad {
      max-width: 36%;
      font-size: 1.3rem;
      line-height: 1.5rem;
      padding: 0;
      margin-left: 5px;
    }

    @include smaller-devices {
      line-height: normal;
    }

    @include smaller-devices {
      font-size: 1.3rem;
      padding: 0;
      margin-left: 5px;
    }
  }
}

.news > .trending:nth-child(5) {
  @include ipad {
    margin-bottom: -6rem;
  }
}

.news > .trending:nth-child(6) {
  @include ipad {
    margin-bottom: -26rem;
  }
}

.news > .trending:nth-child(7) {
  @include ipad {
    margin-bottom: -46rem;
  }
}
