.news {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(8, minmax(min-content, 12rem));
  // grid-template-rows: 15vw repeat(4, 5vw);

  .news__container {
    grid-column: 1/6;
    display: grid;
    grid-template-columns: repeat(8, minmax(min-content, 12rem));

    .news__container--left {
      grid-column: 1/3;

      h2 {
        line-height: 2.7rem;
        font-weight: initial;
        font-size: 2.2rem;
      }

      img {
        margin: 1rem 0;
        border-radius: 3px;
      }

      small {
        font-size: 1rem;
        font-weight: initial;
      }
    }

    .news__container--right {
      grid-column: 3/9;
      border-left: 1.5px solid #c6c6c6;

      figure {
        position: relative;
        display: flex;
        justify-content: center;

        img {
          max-width: 350px;
          border-radius: 2px;
        }

        figcaption {
          position: absolute;
          bottom: 0px;
          left: 11px;
          color: white;
          font-size: 1.5rem;
          width: 94%;
          line-height: 2.5rem;
          background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 70%
          );
          padding-left: 1rem;
          padding-bottom: 1rem;
          border-bottom-right-radius: 4px;
          border-bottom-left-radius: 4px;
        }
      }
    }
  }

  .news__small-container {
    grid-column: 1/6;
    display: flex;

    margin-bottom: 3rem;

    &:nth-child(2) {
      margin: 3rem 0;
    }

    .news__boxes {
      max-width: 50%;

      h3 {
        color: #000;
        font-size: 1.4rem;
      }

      .news__small-container--video {
        display: flex;
        margin-top: 1rem;

        img {
          max-width: 140px;
          border-radius: 3px;
        }

        .news__small-container--video-info {
          max-width: 50%;
          text-align: inherit;
          margin-left: 10px;
          font-weight: bold;

          p {
            color: #c00;

            span {
              color: #000;
            }
          }

          small {
            font-size: 10px;
            color: #515151;
          }
        }
      }
    }
  }

  .news__latest {
    grid-column: 6 / 10;
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, 12rem));
    grid-row: 1/4;
    grid-template-rows: 2rem repeat(2, minmax(min-content, 5rem)) 20rem 2rem repeat(
        2,
        minmax(min-content, 5rem)
      );
    grid-row-gap: 10px;

    h3 {
      grid-column: 1/5;
      border-bottom: 1px solid black;
      height: 2rem;
      text-transform: uppercase;
      font-size: 1.5rem;
    }

    .news__videos {
      grid-column: 1/5;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.8rem;

      img {
        border-radius: 3px;
      }

      p {
        text-align: initial;
        width: 60%;
      }
    }

    .news__videos:nth-child(2) {
      padding-bottom: 9px;
      border-bottom: 1px solid black;
    }

    .news__advertisement {
      grid-column: 1/5;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .news__articles {
      grid-column: 1/5;

      p {
        font-size: 1.5rem;
        color: #515151;
        border-bottom: 1px solid #515151;

        &:before {
          content: "1";
        }

        &:before:nth-child(2) {
          content: "2";
        }
      }
    }
  }
}
