.news {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(8, minmax(min-content, 12rem));
  grid-template-rows: minmax(28rem, 0rem) repeat(3, 15rem);

  .news__container {
    grid-column: 1/6;
    display: grid;
    grid-template-columns: repeat(8, minmax(min-content, 12rem));

    .news__container--left {
      grid-column: 1/3;

      .news__title {
        line-height: 2.7rem;
        font-weight: initial;
        font-size: 2.2rem;
        cursor: pointer;
      }

      .news__title-img {
        margin: 1rem 0;
        border-radius: 3px;
      }

      .news__desc {
        font-size: 1rem;
        font-weight: initial;
      }
    }

    .news__container--right {
      grid-column: 3/9;
      border-left: 1.5px solid $color-light-gray;

      .news__figure {
        position: relative;
        display: flex;
        justify-content: center;

        .news__figure-img {
          max-width: 350px;
          border-radius: 2px;
        }

        .news__figcaption {
          position: absolute;
          bottom: 0px;
          left: 11px;
          color: $color-white;
          font-size: 1.5rem;
          width: 94%;
          line-height: 2.5rem;
          background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 70%
          );
          padding-left: 1rem;
          padding-bottom: 1rem;
          border-bottom-right-radius: 4px;
          border-bottom-left-radius: 4px;
        }
      }
    }
  }

  .news__small-container {
    grid-column: 1/6;
    display: flex;

    margin-bottom: 3rem;

    &:nth-child(2) {
      margin: 3rem 0;
    }

    .news__boxes {
      max-width: 50%;

      .news__boxes-titles {
        color: $color-black;
        font-size: 1.4rem;
      }

      .news__video {
        display: flex;
        margin-top: 1rem;

        .news__img {
          max-width: 140px;
          border-radius: 3px;
        }

        .news__video-info {
          max-width: 50%;
          text-align: inherit;
          margin-left: 10px;
          font-weight: bold;
          cursor: pointer;

          .news__video-title {
            color: $color-red;

            span {
              color: $color-black;
            }
          }

          .news__video-txt {
            font-size: 10px;
            color: $color-matte-gray;
          }
        }
      }
    }
  }

  .news__latest {
    grid-column: 6 / 10;
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, 12rem));
    grid-row: 1/4;
    grid-template-rows: 2rem repeat(2, minmax(min-content, 5rem)) 20rem 2rem repeat(
        2,
        minmax(min-content, 5rem)
      );
    grid-row-gap: 10px;

    .news__latest-title {
      grid-column: 1/5;
      border-bottom: 1px solid $color-black;
      height: 2rem;
      text-transform: uppercase;
      font-size: 1.5rem;
    }

    .news__videos {
      grid-column: 1/5;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.8rem;

      &:hover {
        color: $color-dark-blue;
        text-decoration: none;
        cursor: pointer;
      }

      .news__img {
        border-radius: 3px;

        @include respond(bp-largest) {
          margin-right: 7px;
        }
      }

      .news__txt {
        text-align: initial;
        width: 60%;
      }

      @include respond(bp-largest) {
        font-size: 1.3rem;
      }
    }

    .news__videos:nth-child(2) {
      padding-bottom: 9px;
      border-bottom: 1px solid $color-black;
    }

    .news__advertisement {
      grid-column: 1/5;
      margin: 1rem 0;

      .news__adv-img {
        width: 100%;
        height: 100%;
      }
    }

    .news__articles {
      grid-column: 1/5;

      @include respond(bp-largest) {
        margin-top: 2.5rem;
      }

      .news__art-txt {
        display: flex;
        font-size: 1.5rem;
        padding: 1rem;
        color: $color-matte-gray;
        border-bottom: 1px solid $color-matte-gray;

        &:hover {
          color: $color-dark-blue;
          text-decoration: none;
          cursor: pointer;
        }

        &:before {
          font-size: 3.5rem;
          font-weight: bold;
          margin-right: 1.5rem;

          @include respond(bp-largest) {
            font-size: 3.3rem;
          }
        }

        &:first-child:before {
          content: "1";
        }

        &:nth-child(2):before {
          content: "2";
        }

        &:nth-child(3):before {
          content: "3";
        }

        &:last-child:before {
          content: "4";
        }

        @include respond(bp-largest) {
          padding: 0;
          font-size: 1.4rem;
        }
      }
    }
  }
}
