// CONTAINER FOR SMALL DEVICES ONLY
.news__container-sd {
  display: none;

  @include small-desktop {
    display: flex;
    justify-content: center;
    grid-column: 1/7;
  }
}

// ONE BOX FEATURES
.news__feature-box {
  display: none;

  @include small-desktop {
    grid-column: 2/6;
    max-width: 290px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .news__feature-img {
    height: 140px;
  }

  .news__feature-box-txt {
    height: 140px;
    border-right: 2px solid $color-red;
    border-top: 1px solid $color-light-gray;
    border-bottom: 1px solid $color-light-gray;

    .news__feature-txt {
      display: flex;
      flex-direction: column;
      text-align: inherit;
      padding-left: 5px;

      .news__feature-h2 {
        font-size: 18px;
        line-height: 1.2em;
        padding: 8px 8px 0;
        color: $color-red;
      }

      .news__feature-p {
        padding: 0 8px;
        margin-bottom: 10px;
        margin-top: 5px;
        font-size: 16px;
        line-height: 18px;
        display: block;
        color: $color-matte-black;
      }
    }
  }
}

// 4 NEWS TRENDING
.trending {
  display: none;
  max-width: 440px;
  margin: 0 auto;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #ccc;

  &:hover {
    color: $color-dark-blue;
  }

  @include small-desktop {
    grid-column: 1/7;
    display: flex;
    justify-content: center;
  }

  .trending__img {
    border-radius: 2px;
  }

  .trending__h4 {
    width: 320px;
    padding: 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
    cursor: pointer;
  }
}
