#navbar--scroll {
  background-color: $color-matte-black;
  position: fixed;
  top: -65px;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 200;
  border-bottom: 3px solid $color-red;

  @include respond(bp-large) {
    display: none;
  }

  @include respond(bp-largest) {
    height: 5rem;
  }

  .navbar__scroll-menu {
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    text-transform: uppercase;
    color: $color-white;

    @include respond(bp-largest) {
      max-width: 760px;
      height: 5rem;
    }

    li {
      padding: 1rem;
      font-size: 1.5rem;
      align-self: center;
      cursor: pointer;

      @include respond(bp-largest) {
        font-size: 1.2rem;
        padding: 8px;
      }
    }

    li:first-child {
      padding: 1rem 2rem;
      font-size: 3rem;

      @include respond(bp-largest) {
        font-size: 2rem;
      }
    }

    li:nth-child(2) {
      background-color: $color-red;
      height: 6rem;
      padding-top: 2.1rem;

      @include respond(bp-largest) {
        height: 5rem;
        padding-top: 1.7rem;
        font-size: 1.2rem;
      }
    }

    .navbar__scroll-dropdown {
      display: flex;

      p {
        padding-left: 5px;
      }

      .navbar__scroll-svg {
        width: 15px;
        height: 15px;
        fill: $color-white;
      }
    }

    .navbar__scroll-active {
      background-color: $color-mustard-yellow;
      color: $color-black;
      height: 6rem;
      padding-top: 2.1rem;

      @include respond(bp-largest) {
        height: 5rem;
        padding-top: 1.7rem;
      }
    }
  }
}
