#navbar--scroll {
  background-color: #333;
  position: fixed;
  top: -65px;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 200;
  border-bottom: 3px solid #c00;

  .navbar__scroll-menu {
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    text-transform: uppercase;
    color: #fff;

    li {
      padding: 1rem;
      font-size: 1.5rem;
      align-self: center;
      cursor: pointer;
    }

    li:first-child {
      padding: 1rem 2rem;
      font-size: 3rem;
    }

    li:nth-child(2) {
      background-color: #c00;
      height: 6rem;
      padding-top: 2.1rem;
    }

    .navbar__scroll-dropdown {
      display: flex;

      p {
        padding-left: 5px;
      }

      .navbar__scroll-svg {
        width: 15px;
        height: 15px;
        fill: #fff;
      }
    }

    .navbar__scroll-active {
      background-color: #fad165;
      color: #000;
      height: 6rem;
      padding-top: 2.1rem;
    }
  }
}

// #navbar__scroll a {
//   float: left;
//   display: block;
//   color: #f2f2f2;
//   text-align: center;
//   padding: 15px;
//   text-decoration: none;
//   font-size: 17px;
// }

// #navbar__scroll a:hover {
//   background-color: #ddd;
//   color: black;
// }
