.navbar__search {
  display: none;
  position: absolute;
  background-color: $color-white;
  min-width: 100%;
  overflow: auto;
  border: 1px solid #ddd;
  background: rgba(41, 41, 41, 0.9);
  bottom: 0;
  left: 0;
  right: 0;
  top: 38px;
  z-index: 3141593;
}

.navbar__pushdown {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 600;
  background: $color-white;
}

.navbar__container {
  max-width: 980px;
  margin: 0 auto;
}

.navbar__input {
  -webkit-font-smoothing: antialiased;
  margin: 2rem;
  outline-width: 0;
  box-sizing: border-box;
  font-size: 16px;
  padding: 14px 20px 12px 0px;
  width: 100%;
  border-top: 0;
  border-left: none;
  border-right: 0;
  border-bottom: 1px solid $color-light-gray;
}

.show {
  display: block;
}
