.slider {
  grid-column: center-start/7;
  width: 98%;
  display: flex;
  background-color: $color-matte-black;
  border-radius: 3px;

  @include small-desktop {
    display: none;
  }

  @include medium-desktop {
    grid-column: 3/9;
    width: 100%;
  }

  .slider__h3 {
    text-align: center;
    margin: auto;
    color: white;
    font-weight: initial;
    font-size: 1.5rem;
  }

  .slider__slides {
    display: flex;
    width: 60%;
    position: relative;
    overflow: hidden;
    color: white;
    font-size: 1.3rem;

    .slider__slide {
      position: absolute;
      height: 100%;
      width: 100%;
      display: grid;
      align-content: center;
      justify-content: start;
      transition: all 0.25s;
      transform: translateX(-200%);
    }

    .slider__slide.next + .slider__slide {
      transform: translateX(200%);
    }

    .slider__slide.prev {
      z-index: 10;
      transform: translateX(-100%);
    }

    .slider__slide.current {
      z-index: 10;
      transform: translateX(0);
    }

    .slider__slide.next {
      z-index: 10;
      transform: translateX(100%);
    }
  }

  .slider__controls {
    margin: auto;

    .controls__prev,
    .controls__next {
      padding: 2px;
      border-radius: 3px;
    }
  }
}
